<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static\main.css"/>
    <title>DataBase App</title>
</head>
<body>
    <h1> Hello this is database app </h1>
    <div class="textbox_button">
        
        <form action="/search" method="POST" class="form_class">
            <input type="text" name="query" placeholder="Enter your query">
            <button type="submit">Search</button>
        </form>
    </div>

</body>
</html>